@import url("styles.css");


.carrosel {
    width: 200px;
}

.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--brancobranco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5em;
    padding: 1em;
    font-family: var(--fonte-principal);
    color: var(--roxo);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.card__descricao {
    text-align: center;
}

.botoes__item {
    margin: 0 0.5em;
    width: 60px;
}

.imagem_card {
    width: 100%;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 2.26em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

    .carrossel__titulo {
        font-size: 50px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .carrossel__container {
        display: flex;
        margin: 1em 6em;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    
    .card_titulo {
        font-family: var(--fonte-principal);
        margin: 1em 0;
        font-size: 40px;
    }

    .descricao {
        width: 100%;
    }


    .swiper-image {
        image-resolution: 400px 200px;
    }